body {
  height: 100%;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(black, #343a40);
}

.container {
  min-width: 500px;
}

textarea{
  border: none;
  resize: none;
}

.past {
  background-color: #343a40;
  color: white;
  font-size: 1em;
}

.present {
  background-color: goldenrod;
  color: rgb(44, 44, 44);
  font-size: 1em;
}

.future {
  background-color: #a4cca4;
  color: rgb(44, 44, 44);
  font-size: 1em;
}

.txtAux {
  color: goldenrod;
}

.txtAuxEye {
  color: goldenrod;
  font-size: 1.5em;
}

.txtAuxSave {
  color: goldenrod;
  font-size: 1.5em;
}

i.txtAuxSave:hover {
  color: rgb(173, 133, 32);
} 

.txtAuxDel {
  color: crimson;
  font-size: 1.5em;
}

i.txtAuxDel:hover {
  color: rgb(161, 20, 49);
} 

textarea {
  background: transparent;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #343a40;
  opacity: 1;
}

.expand {
  font-size: 1em;
}

.form-control::placeholder {
  color: white;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: white;
}

.form-control::-ms-input-placeholder {
  color: white;
}