body {
  height: 100%;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(black, #343a40);
}

textarea{
  border: none;
  resize: none;
}

.past {
  background-color: #343a40;
  color: white;
}

.present {
  background-color: goldenrod;
}

.future {
  background-color: #a4cca4;
}

/* .minW {
    min-width: 446px;
} */

.txtAux {
  color: goldenrod;
}

.txtAuxEye {
  color: goldenrod;
  font-size: 1.5em;
}

.txtAuxSave {
  color: goldenrod;
  font-size: 2em;
}

.txtAuxDel {
  color: crimson;
  font-size: 2em;
}

textarea {
  background: transparent;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #343a40;
  opacity: 1;
}

/* @media only screen and (max-width: 992px) {
  .container {
    min-width: 992px;
  }
} */
/* 
@media only screen and (max-width: 744px) {
  .txtAuxSave, .txtAuxDel {
      font-size: 1.2em;
  }
} */